.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    background: #e1f5f3;
    height: 20vh; 
    padding: 1em;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.navmenu ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /*background-color: #000;  */  
}

.navmenu ul li {
    margin: 20px;
    color: crimson;
    list-style-type: none;    
}

#main {
    display: flex;
    flex: 1;
    border: solid 2px coral;
}

.article {
    flex: 1;
    padding: 1em;
}

.nav {
    flex: 0 0 20vw;
    background-color: #cfedec;
    order: -1;
    padding: 1em;
}

.aside {
    flex: 0 0 20vw;
    background-color: #cfedec;
    padding: 1em;
}

.footer {
    background: #7dfcbc;
    height: 20vh; 
    padding: 1em;
}

