.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.header {
    background: #1b9a96;
    height: 20vh; 
    padding: 1em;
}

.navmenu ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #000;    
}

.navmenu ul li {
    margin: 20px;
    color: white;
    list-style-type: none;    
}

#main {
    display: flex;
    flex: 1;
}

.article {
    flex: 1;
    padding: 1em;
}

.nav {
    flex: 0 0 20vw;
    background-color: #cfedec;
    order: -1;
    padding: 1em;
}

.aside {
    flex: 0 0 20vw;
    background-color: #cfedec;
    padding: 1em;
}

.footer {
    background: #1b9a96;
    height: 20vh; 
    padding: 1em;
}

